RewriteEngine   On
RewriteRule     ^([a-z]+)\/?$                                                                                               ?class=$1                               [NC,L]
RewriteRule     ^([a-z]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_°ª]+)\/?$                           ?class=$1&desc=$2                       [NC,L]
RewriteRule     ^([a-z]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_°ª]+)\/([0-9]+)?$                    ?class=$1&desc=$2&cod=$3                [NC,L]

RewriteRule     ^([a-z]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_°ª]+)\/([0-9]+)\/([0-9]+)?$          ?class=$1&desc=$2&cod=$3&pag=$4         [NC,L]

RewriteRule     ^([a-z]+)\/([a-z0-9]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_°ª]+)?$                 ?class=$1&funcao=$2&desc=$3             [NC,L]
RewriteRule     ^([a-z]+)\/([a-z0-9]+)\/([a-z0-9çÇáàãâäÁÀÃÂÄéèẽêÉÈẼÊËíìĩîïÍÌĨÎÏóòõôöÓÒÕÔÖúùũûüÚÙŨÛÜ\-\_°ª]+)\/([0-9]+)?$       ?class=$1&funcao=$2&desc=$3&cod=$4      [NC,L]

ErrorDocument   400 /?class=erro&codigo=400
ErrorDocument   401 /?class=erro&codigo=401
ErrorDocument   403 /?class=erro&codigo=403
ErrorDocument   404 /?class=erro&codigo=404
ErrorDocument   500 /?class=erro&codigo=500

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

ServerSignature Off

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>

<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

FileETag None

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                          "access plus 1 month"
    ExpiresByType text/cache-manifest       "access plus 0 seconds"

    # Html
    ExpiresByType text/html                 "access plus 0 seconds"

    # Data
    ExpiresByType text/xml                  "access plus 0 seconds"
    ExpiresByType application/xml           "access plus 0 seconds"
    ExpiresByType application/json          "access plus 0 seconds"

    # Feed
    ExpiresByType application/rss+xml       "access plus 1 hour"
    ExpiresByType application/atom+xml      "access plus 1 hour"

    # Favicon
    ExpiresByType image/x-icon              "access plus 1 week"

    # Media: images, video, audio
    ExpiresByType image/gif                 "access plus 1 month"
    ExpiresByType image/png                 "access plus 1 month"
    ExpiresByType image/jpg                 "access plus 1 month"
    ExpiresByType image/jpeg                "access plus 1 month"
    ExpiresByType video/ogg                 "access plus 1 month"
    ExpiresByType audio/ogg                 "access plus 1 month"
    ExpiresByType video/mp4                 "access plus 1 month"
    ExpiresByType video/webm                "access plus 1 month"

    # HTC files
    ExpiresByType text/x-component          "access plus 1 month"

    # Webfonts
    ExpiresByType application/x-font-ttf    "access plus 1 month"
    ExpiresByType font/opentype             "access plus 1 month"
    ExpiresByType application/x-font-woff   "access plus 1 month"
    ExpiresByType image/svg+xml             "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

    # CSS / JS
    ExpiresByType text/css                  "access plus 1 year"
    ExpiresByType application/javascript    "access plus 1 year"

</IfModule>

<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=Edge,chrome=1"
    <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
        Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>